---
interface Props {
   id: string;
   checked?: boolean;
   disabled?: boolean;
   class?: string;
}

const {
   id,
   checked = false,
   disabled = false,
   class: className,
   ...attrs
} = Astro.props as Props;
---

<span class="relative inline-flex items-center justify-center">
   <input
      id={id}
      type="checkbox"
      {checked}
      {disabled}
      data-slot="checkbox"
      class:list={[
         'peer border bg-input-background dark:bg-input/30 checked:bg-primary checked:text-primary-foreground dark:checked:bg-primary checked:border-primary focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive size-4 shrink-0 rounded-lg shadow-xs transition-shadow outline-none focus-visible:ring-[3px] disabled:cursor-not-allowed disabled:opacity-50',
         className,
      ]}
      {...attrs}
   />
</span>
